body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f0f0f0;
  margin: 0;
  font-family: Arial, sans-serif;
}

.keys {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.key65 {
  border: 0.1rem solid black;
  border-radius: 0.5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem 0.5rem;
  transition: all 0.07s ease;
  width: 5rem;
  text-align: center;
  background-image: url("/imgs/atumalaca.jpg");
  background-size: cover;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}
.key83 {
  border: 0.1rem solid black;
  border-radius: 0.5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem 0.5rem;
  transition: all 0.07s ease;
  width: 5rem;
  text-align: center;
  background-image: url("/imgs/cavalo.jpeg");
  background-size: cover;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}
.key68 {
  border: 0.1rem solid black;
  border-radius: 0.5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem 0.5rem;
  transition: all 0.07s ease;
  width: 5rem;
  text-align: center;
  background-image: url("/imgs/audio.jpg");
  background-size: cover;
  background-position: center;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}
.key70 {
  border: 0.1rem solid black;
  border-radius: 0.5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem 0.5rem;
  transition: all 0.07s ease;
  width: 5rem;
  text-align: center;
  background-image: url("/imgs/coringa.jpg");
  background-size: cover;
  background-position: center;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}
.key71 {
  border: 0.1rem solid black;
  border-radius: 0.5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem 0.5rem;
  transition: all 0.07s ease;
  width: 5rem;
  text-align: center;
  background-image: url("/imgs/porquesera.png");
  background-size: cover;
  background-position: center;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}
.key72 {
  border: 0.1rem solid black;
  border-radius: 0.5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem 0.5rem;
  transition: all 0.07s ease;
  width: 5rem;
  text-align: center;
  background-image: url("/imgs/fazol.png");
  background-size: cover;
  background-position: center;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}
.playing {
  transform: scale(1.1);
  border-color: yellow;
  background: yellow;
  color: white;
  box-shadow: 0 0 10px yellow;
}

kbd {
  display: block;
  font-size: 2rem;
}

.sound {
  font-size: 1rem;
  color: #edeaea;
}
